.background {
    -fx-background-color: #ffd55a;
}

.enunciado {
    -fx-font-size: 20px;
    -fx-fill: #FFFFFF; 
}

.botao {
    -fx-base: #1d42c2;
    -fx-text-fill: white;
    
}

.botao:hover {
    -fx-background-color: #6dd47e;
}
